@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
  font-family: 'Courier Prime', monospace;
  background-color: #FAF5EB;
  color: #750C00;
}
/* .main {
  width: 100%;
  margin: 0 auto;
} */
/* ----- Shared elements ----- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3% 2% 0% 6%;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 5%;
  background-color: #FAF5EB ;
  color: #750C00;
  font-size: 15px;
}

.btn {
  display: inline-block;
  background: #750C00;
  color: #fff;
  letter-spacing: 2px;
  padding: 2% 6% 1% 7%;
  border: none;
  margin: 2%;
  border-radius: 16px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-family: inherit;
}

.btn-submit {
  margin-top: 8%;
  width: 100%;
}

.no-display-close {
  visibility: hidden;
}

.display-close {
  background-color: #750C00;
  color: #FAF5EB;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  float: right;
  margin-left: 90%;
  /* clear:both; */
  /* margin-bottom: 50%; */
}

/* ----- todo widget ----- */
.todo-widget {
  width: 20%;
  margin: auto;
  margin-top: 20%;
  /* top: 35%;
  right: 0;
  left: 0; */
}

.todo-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  overflow: auto;
  font-weight: 400;
  background-color: #FFD2B7;
  border: none;
  padding: 4% 3% 0.8% 3%;
  border-radius: 16px;
  box-shadow: 4px 4px 5px 0 rgba(117, 12, 0, 0.5);
  position: absolute;
  font-family: inherit;
  z-index: -1;
}

.todo-container.focus {
  z-index: 10;
}

.add-form {
  margin-bottom: 20px;
  background-color: #FAF5EB;
  padding: 2% 10% 5% 5% ;
  border-radius: 16px;
}

.form-control h3 {
  padding-top: 5%;
  float: left;
  font-size: 1.4em;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 7px;
  font-size: 17px;
  border-color: #750C00;
  border-radius: 5px;
  border-width: 1px;
}

.form-control input.check-important{
  width: 12%;
  float: right;
}

.task {
  background: #FAF5EB;
  width: 100%;
  margin: 2% 0% 2% 0%;
  border-radius: 16px;
  padding: 4% 6%;
  cursor: pointer;
}

.task.important {
  border-left: 8px solid #750C00;
}

.task h6 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 18px;
  padding: 1%;
}

.task p {
  font-style: italic;
}

/* ----- BG Sounds -----*/
.sounds-widget {
  width: 19%;
  position: absolute;
  margin: auto;
  top: 25%;
  right: 0;
  left: 0;
}



.sounds-container {
  position: absolute;
  float: left;
  display: flex;
  flex-wrap: wrap;
  width: 88%;
  background: #FFD2B7;
  overflow: auto;
  border-radius: 16px;
  padding: 5% 3% 5% 3%;
  box-shadow: 4px 4px 5px 0 rgba(117, 12, 0, 0.5);
  z-index: -1;
  font-family: inherit;
  border: none;
  font-size: 1em;
}

.sounds-container.focus {
  z-index: 10;
}

.all-sounds {
  background-color: #FAF5EB;
  border-radius: 16px;
  padding: 8% 5% 0% 5%;
  color: #750C00;
  width: 100%;
}

.play-sound {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0.1em;
}

.play-sound h3 {
  padding-left: 5%;
  font-size: 1.2em;
}

.my-sound {
  padding-bottom: 4%;
}

.volume-control {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  align-items: center;
}

input[type=range] {
  height: 2em;
  -webkit-appearance: none;
  width: 75%;
  background-color: #FAF5EB;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.3em;
  cursor: pointer;
  background: #750C00;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  background: #750C00;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

/* ***Most browsers support webkit now*** */
/* input[type=range]::-moz-range-track {
  width: 75%;
  height: 0.5em;
  cursor: pointer;
  background: #750C00;
  border-radius: 5px;
}

input[type=range]::-moz-range-thumb {
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  background: #750C00;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #750C00;
  border-radius: 10px;

}
input[type=range]::-ms-fill-upper {
  background: #750C00;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  margin-top: -5px;
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  background: #750C00;
  cursor: pointer;
} */

/* ----- Center BG Components ----- */
#animation {
  position: absolute;
  z-index: -101;
  width: 33%;
  margin: auto;
  top: 12%;
  right: 0;
  left: 0;

}


.greetings-container {
  position: absolute;
  margin: auto;
  top: 72%;
  right: 0;
  left: 0;
  font-size: 325%;
  z-index: -100;
}

.greetings {
  text-align: center;
}

.greetings h6 {
  font-style: italic;
  font-weight: 400;
  font-size: 50%;
  line-height: 50%;
}

.greetings p {
  font-size: 50%;
  line-height: 20%;
}
